<script type="text/javascript" src="lib/jquery.validationEngine.js"></script>
<script type="text/javascript" src="lib/jquery.validationEngine-en.js"></script>
<div ng-controller="categoriesController" class="border_content" ng-init="init()">
	<div id="alertMsg" style="display:none;"></div>
	<div style="float: left; margin: 5px">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-search"></i></span>
            <input id="inputIcon" type="text" ng-model="search" placeholder="Filter">
        </div>
    </div>
	<div style="float: right; margin: 5px">
		<button class="btn btn-primary" ng-click="open()">New</button>
		<button class="btn btn-danger" 	ng-click="delete()">Delete</button>
	</div>
	<table class="table table-striped">
		<thead>
		<tr>
			<th> <input type="checkbox" class="checkAll" ng-click="checkAll(check); check =! check; " > </th>
			<th><a class="sort" href="" ng-click="predicate = '_data.title'; reverse=!reverse">Category Name</a></th>
			<th><a class="sort" href="" ng-click="predicate = '_data.created'; reverse=!reverse">Date Created</a></th>
			<th><a class="sort" href="" ng-click="predicate = '_data.modified'; reverse=!reverse">Date Modified</a></th>
		</tr>
	</thead>
		<tr ng-repeat="cate in categories | filter:filterByTitle | orderBy:predicate:reverse">
			<td>
				<input ng-click="check1()" class="chk" name="chk" type="checkbox" value="{{cate._data.uuid}}" ng-checked="checkall">
			</td>
			<td><a href="" ng-click="openDetail(cate._data)"> {{cate._data.title}}</a></td>
			<td> {{cate._data.created | date:'MM/dd/yyyy - h:mma'}} </td>
			<td> {{cate._data.modified | date:'MM/dd/yyyy - h:mma'}} </td>
		</tr>
	</table>
	<div>
        <hr>
        <ul class="pager">
          <li><a href="" ng-click="prevPage()" id="prevPage">Previous</a></li>
          <li><a href="" ng-click="nextPage()" id="nextPage">Next</a></li>
        </ul>
    </div>
    	<div modal="shouldBeOpen" close="close()" options="opts">
	    	<form name="Detail" novalidate>
		        <div class="modal-header">
		            <h3>Add new category</h3>
		        </div>
		        <div class="modal-body">
					<label>Name</label>
					<input name="name" type="text" ng-model="title" required ng-pattern="word" placeholder="Name">
					<span class="custom-error"ng-show="Detail.name.$dirty && Detail.name.$error.required">
	                	Name is required.
	                </span>
	                <span class="custom-error" ng-show="Detail.name.$error.pattern">Word only</span>
		        </div>
		        <div class="modal-footer">
		        	<button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
		        	<button class="btn btn-primary" ng-click="createCategory()" ng-disabled="(Detail.name.$pristine || Detail.name.$dirty && Detail.name.$invalid)">Save</button>
		        </div>
	        </form>
	    </div>

	    <div modal="shouldBeOpenDetail" close="close()" options="opts">
	    	<form name="Detail" novalidate>
		        <div class="modal-header">
		            <h3>Edit category</h3>
		        </div>
		        <div class="modal-body">
					<label>Name</label>
					<input name="name" type="text" ng-model="title" ng-pattern="word" required placeholder="Name">
					<span class="custom-error"ng-show="Detail.name.$dirty && Detail.name.$error.required">
	                	Name is required.
	                </span>
	                <span class="custom-error" ng-show="Detail.name.$error.pattern">Word only</span>
		        </div>
		        <div class="modal-footer">
		        	<button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
		        	<button class="btn btn-primary" ng-click="updateCategory()" ng-disabled="(Detail.name.$pristine || Detail.name.$dirty && Detail.name.$invalid)">Save</button>
		        </div>
	        </form>
	    </div>
	
</div>