.title{
color: #565656;
font-size: 20px;
	font-weight:bold;
	margin: 10px;
}
.content {
background-color: #DDDDDD;`
padding: 20px;
overflow:hidden;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 10px 10px 0px 15px;
-moz-box-shadow: 0px 4px 11px 3px #888;
-webkit-box-shadow: 0px 4px 11px 3px #888;
box-shadow: 0px 4px 11px 3px #888;
margin: 20px auto 20px;
}

.content .groupbutton{
	float:right;
	margin: 10px 0 10px 0;
}

.content p{
float:left;
	margin: 0 20px 0 0;
}

.content div label{
 float:left;
 width:150px;
 color:#131313;
	text-shadow: 0 -1px 0 #E7E7E7;
	padding-top: 8px;

}

.content div .span-display{
 float:left;
 display: inline-block;
padding-top: 8px;
margin-left: 0px;

}
.content hr{
clear:left;
}
.content div textarea{
	margin: 0px 0px 0px 150px;
}
.table thead{
	background-color: #EBEBEB;
}

.content .status{
padding-top: 0px;
margin-bottom:12px;
}

.content hr{
	margin: 0 0 5 0;
}
.content input,select{
margin-top: 4px;
}
.border_content{
	width: 850px;
	margin: 0px auto;
	border: 1px solid #c6c5c0;
	padding: 5px;
	border-radius: 5px;
}
.border_content2{
	width: 550px;
	margin: 0px auto;
	border: 1px solid #c6c5c0;
	padding: 5px;
	border-radius: 5px;
}
.alert1{
	display: none;
}

#select.ng-invalid-required{

color:black;
}