<div ng-controller="UserController" class="border_content" ng-init="init()">
    <div id="alertMsg" style="display:none;"></div>
    <div style="float: left; margin: 5px">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-filter"></i></span>
            <input id="inputIcon" type="text" ng-model="search" placeholder="Filter" >
        </div>
    </div>
    <div style="float: right; margin: 5px">
        <button class="btn btn-primary" ng-click="open()">New</button>
        <button class="btn btn-danger"  ng-click="delete()">Delete</button>             
    </div>
    <table class="table">
        <thead>
            <th><input type="checkbox" class="checkAll" ng-model="check" ng-change="checkAll()"></th>
            <th><a href="">Avatar</a></th>
            <th><a class="sort" href="" ng-click="predicate = '_data.username'; reverse=!reverse">User Name</a></th>
            <th><a class="sort" href="" ng-click="predicate = '_data.name'; reverse=!reverse">Display Name</a></th>
            <th><a class="sort" href="" ng-click="predicate = '_data.created'; reverse=!reverse">Date Created</a></th>
        </thead>
        <!-- <tr ng-repeat="user in users | filter:filterByUsername | orderBy:predicate:reverse | startFrom:currentPage*pageSize | 
        limitTo:pageSize"> -->
        <tr ng-repeat="user in users | filter:filterByUsername | orderBy:predicate:reverse">
            <td>
                <input ng-click="checkItem()" class="chk" type="checkbox" value="{{user._data.uuid}}">
            </td>
            <td> <img ng-src="{{user._data.picture}}" style="width: 32px;height:32px;"/> </td>
            <td> <a href="" ng-click="navDetail(user._data.uuid)"> {{user._data.username}}</a> </td>
            <td> {{user._data.name}} </td>
            <td> {{user._data.created | date:'MM/dd/yyyy - h:mma' }} </td>
        </tr>
    </table>  
    <div class="modal-footer">
        <ul class="pager">
          <li><a href="" ng-click="prevPage()" id="prevPage">Previous</a></li>
          <li><a href="" ng-click="nextPage()" id="nextPage">Next</a></li>
        </ul>
            <!-- <span class="infoRecord"><b>{{totalRecord}}</b> users - page <b>{{currentPage+1}}/{{numberOfPages}}</b></span>
            <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=0"><i class="icon-step-backward"></i></button>
            <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><i class="icon-backward"></i></button>
            <button ng-repeat="page in pages" class="btn btn-default" ng-click="paging(page-1)">{{page}}</button>
            <button class="btn btn-default" ng-disabled="currentPage>=users.length/pageSize - 1" ng-click="currentPage=currentPage+1"><i class="icon-forward"></i></button>
            <button class="btn btn-default" ng-disabled="currentPage>=users.length/pageSize - 1" ng-click="paging(users.length/pageSize-1)"><i class="icon-step-forward"></i></button> -->
    </div>        
    <div modal="shouldBeOpen" close="close()" options="opts">
        <form name="myForm" novalidate>
            <div class="modal-header">
                <h3>Add new users</h3>
            </div>
            <div class="modal-body">
                <label>Username:</label>
                <input type="text" name="username" ng-model="username" required ng-pattern="usernameRegex" autofocus/>
                <span ng-show="myForm.username.$dirty && myForm.username.$invalid">
                    <span class="custom-error" ng-show="myForm.username.$error.required">Username is required.</span>
                    <span class="custom-error" ng-show="myForm.username.$error.pattern">Username contains word only!</span>
                </span>

                <label>Full Name:</label>
                <input type="text" name="name" ng-model="name" required ng-pattern="nameRegex">
                <span ng-show="myForm.name.$dirty && myForm.name.$invalid">
                    <span class="custom-error" ng-show="myForm.name.$error.required">Name is required.</span>
                    <span class="custom-error" ng-show="myForm.name.$error.pattern">Name contain word only!</span>
                </span>

                <label>Email:</label> <input type="email" ng-model="email" name="email" required>
                <span ng-show="myForm.email.$dirty && myForm.email.$invalid">
                    <span class="custom-error" ng-show="myForm.email.$error.required">Email is required.</span>
                    <span class="custom-error" ng-show="myForm.email.$error.email">Please enter a valid email address.</span>
                </span>

                <label>Password:</label> <input type="password" ng-model="password" name="password" required ng-minlength="3">
                <span ng-show="myForm.password.$dirty && myForm.password.$invalid">
                    <span class="custom-error" ng-show="myForm.password.$error.required">Password is required.</span>
                    <span class="custom-error" ng-show="myForm.password.$error.minlength">Password must be at least 3 characters.</span>
                </span>

                <label>Confirm Password:</label> <input type="password" ng-model="repassword" name="repassword" required ng-change="confirmPassword()" confirmpass>
                <span class="custom-error" ng-show="myForm.repassword.$error.noMatch && myForm.password.$dirty">Passwords do not match.</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
                <button class="btn btn-primary" ng-click="createUser()" ng-disabled="
                (myForm.username.$pristine || myForm.username.$dirty && myForm.username.$invalid) ||
                (myForm.name.$pristine || myForm.name.$dirty && myForm.name.$invalid)||
                (myForm.email.$pristine || myForm.email.$dirty && myForm.email.$invalid)||
                (myForm.password.$pristine || myForm.password.$dirty && myForm.password.$invalid)|| 
                (myForm.repassword.$required)">Save</button>
                
            </div>
        </form>
    </div>
</div>