<html lang="en">
<head>
	<title>User detail</title>	
</head>
<body>
<div ng-include src="'partials/admin/menu-admin.html'" ng-controller="AdminController"></div>
<div class="border_content2" ng-init="init()">
	<div id="alertMsg" style="display:none;"></div>
	<tabset>
	    <tab heading="Profile"><!--  Profile Tab -->
	    	<div>
	    		<form name="myForm" novalidate ng-submit="update(user.uuid)" id="myForm">
					<img ng-src="{{user.picture}}" style="width: 48px;height:48px;"/><b>{{user.name}}</b><hr>
					<label>User Name:</label>
					<input type="text" ng-model="user.username" name="username" required readonly>
					<span ng-show="myForm.username.$dirty && myForm.username.$invalid">
                		<span class="custom-error" ng-show="myForm.username.$error.required">Username is required.</span>
                		<span class="custom-error" ng-show="myForm.username.$error.pattern">Username contain word only!</span>
                	</span>

					<label>Full Name:</label>
					<input type="text" ng-model="user.name" name="name" required>
					<span ng-show="myForm.name.$dirty && myForm.name.$invalid">
						<span class="custom-error" ng-show="myForm.name.$error.required">Name is required.</span>
					</span>

					<label>Title:</label>
					<input type="text" ng-model="user.title">
					<label>Home Page:</label> <input type="text" ng-model="user.url">

					<label>Email:</label>
					<input type="email" ng-model="user.email" name="email" required>
					<span ng-show="myForm.email.$dirty && myForm.email.$invalid">
						<span class="custom-error" ng-show="myForm.email.$error.required">Email is required.</span>
						<span class="custom-error" ng-show="myForm.email.$error.email">Please enter a valid email address.</span>
					</span>

					<label>Telephone:</label> <input type="text" ng-model="user.tel" name="telephone" ng-pattern="telephoneRegex">
					<span ng-show="myForm.telephone.$dirty && myForm.telephone.$invalid">
						<span class="custom-error" ng-show="myForm.telephone.$error.pattern">Telephone numbers must be numeric only</span>
					</span>

					<label>Picture URL:</label> <input type="text" ng-model="user.picture" >
					<label>Birthday:</label> <input type="text" ng-model="user.bday" datepick />
					<div class="modal-footer">
					<button class="btn btn-warning cancel" ng-click="cancel()">Cancel</button>
					<button class="btn btn-primary" ng-click="update(user.uuid)" ng-disabled="myForm.name.$invalid">Save</button>
					</div>
				</form>
	    	</div>
	    </tab><!--  End Profile Tab -->
	    <tab heading="Groups"><!--  Group Tab -->
			<div>
		    	<div style="float: right; margin: 5px">
		    		<button class="btn btn-primary" ng-click="openGroup()">New</button>
		    		<button class="btn btn-danger" 	ng-click="removeGroup()">Delete</button>		
				</div>
				<table class="table">
					<thead>
						<th> <input type="checkbox" ng-model="checkall" class="checkallGroup"> </th>
						<th>Group Name</th>
					</thead>
					<tbody>
					<tr ng-repeat="g in user_has_group">
						<td>
							<input class="chkGroups" type="checkbox" value="{{g._data.uuid}}" ng-checked="checkall">
						</td>
						<td>{{g._data.path}}</td>
					</tr>
					</tbody>
				</table>
			</div>
	    </tab><!--  End Group Tab -->
	    <tab heading="Roles"><!--  Role Tab -->
	    	<div>
	    	<div style="float: right; margin: 5px">
	    		<button class="btn btn-primary" ng-click="openRole()">New</button>
	    		<button class="btn btn-danger" 	ng-click="removeRole()">Delete</button>				
			</div>
			<table class="table">
				<thead>
					<th> <input type="checkbox" ng-model="checkallRole" class="checkallRole"> </th>
					<th>Role Name</th>
				</thead>
				<tr ng-repeat="r in role_of_user">
					<td>
						<input class="chkRole_add_user" type="checkbox" value="{{r._data.uuid}}" ng-checked="checkallRole">
					</td>
					<td>{{r._data.name}}</td>
				</tr>
			</table>
			</div>
	    </tab><!--  End Role Tab -->
	</tabset>
  	<!-- ADD GROUP TO USER POP-UP -->
  	<div modal="popupGroup" close="closeGroup()" options="opts">
        <div class="modal-header">
            <h3>Add this group to user</h3>
        </div>
        <div class="modal-body">
        	<p>Search for the group you want to add this user to.</p>
			<table class="table">
				<thead>
					<th> <input type="checkbox" ng-model="chkAllGroup"> </th>
					<th>Group</th>
				</thead>
				<tr ng-repeat="g in groups_add_user">
					<td>
						<input class="chkGroup_add_user" type="checkbox" value="{{g}}" ng-checked="chkAllGroup">
					</td>
					<td>{{g}}</td>
				</tr>
			</table>
        </div>
        <div class="modal-footer">
        	<button class="btn btn-warning cancel" ng-click="closeGroup()">Cancel</button>
        	<button class="btn btn-primary" ng-click="addGroup()">Save</button>
        </div>
    </div>
    <!-- END ADD GROUP TO USER POP-UP -->
    <!-- ADD ROLE TO USER POP-UP -->
  	<div modal="popupRole" close="closeRole()" options="opts">
        <div class="modal-header">
            <h3>Add a Role to this Group</h3>
        </div>
        <div class="modal-body">
        	<table class="table">
				<thead>
					<th> <input type="checkbox" ng-model="chkAllRole"> </th>
					<th>Role</th>
				</thead>
				<tr ng-repeat="r in role_add_user">
					<td>
						<input class="chkRole_add_user" type="checkbox" value="{{r}}" ng-checked="chkAllRole">
					</td>
					<td>{{r}}</td>
				</tr>
			</table>
        </div>
        <div class="modal-footer">
        	<button class="btn btn-warning cancel" ng-click="closeRole()">Cancel</button>
        	<button class="btn btn-primary" ng-click="addRole()">Save</button>            
        </div>
    </div>
    <!-- END ADD ROLE TO USER POP-UP -->
</div>
</body>
</html>