
<div class="test-div">
	<h2> Add Book</h2>

	<form novalidate class="simple-form">
		<legend>Add new books</legend>
		<input type="hidden" ng-model="uuid"/>
		Name: <input type="text" id="name" ng-model="bookName"/> <br/>
		Author: <input type="text" id="author" ng-model="author"/> <br/>
		<button ng-click="addBook(bookName, author)">Save</button>
		<button ng-click="updateBook(bookName, author, uuid)">Update</button>
	</form>
	<br>
	<div id="msg"></div>
	<div id="inserted"></div>
	<br/>
	<pre id="json"></pre>
</div>
	
 <br/>
 <div class="test-div">
 	<button ng-click="getBooks()">Search</button>
	<br>
	<h2> List Books</h2>
		<div>			
	  	<table class="table table-striped">
	  		<thead>
		  		<tr>
		  			<th>UUID</th>
		  			<th>Name</th>
		  			<th>Author</th>
		  			<th>Date Created</th>
		  			<th>Action</th>
		  		</tr>
		  	</thead>
		  	<tbody>
		  		<tr ng-repeat="book in books">
		  			<td><a href="" ng-click="selectedBook(book)">{{book.uuid}}</a></td>
		  			<td><strong>{{book.name}}</strong></td>
		  			<td>{{book.author}}</td>
		  			<td>{{book.created | date:'MM/dd/yyyy  h:mma'}}</td>
		  			<td><a href="" ng-click="deleteBook(book)">Delete</a></td>
		  		</tr>
		  	</tbody>
	  	</table>
	  	<div  class="paging">
	  		<a id="previous-button" href="" ng-click="prev()"> Prev</a>
	  		<a id="next-button" href="" ng-click="next()"> Next</a>
	  	</div>
  	
		</div>		
	<br>
	<div id="response"></div>
 </div>

