<html>
<head>
	<title>Users management</title>
</head>
<body>
	<table class="table table-striped">
		<th> <input type="checkbox"> </th>
		<th></th>
		<th>Username</th>
		<th>Display Name</th>
		<th></th>
		<tr ng-repeat="user in users">
			<td> <input type="checkbox"> </td>
			<td> <img ng-src="{{user._data.picture}}" style="width: 32px;height:32px;"/> </td>
			<td> {{user._data.username}} </td>
			<td> {{user._data.name}} </td>
			<td> <a href="#/user/{{user._data.uuid}}">sDetail</a> </td>
		</tr>
	</table>
</body>
</html>
