
<div class="login">
	<form novalidate>
	  <fieldset>
	    <legend>Login</legend>
	    <div>
		    <label>Username</label>
		    <input type="text" placeholder="Enter username…" ng-model="user.username" required>
		</div>
		<div>
		    <label>Password</label>
		    <input type="password" placeholder="Enter password…" ng-model="user.password" required>
		</div>
		<div>
		    <label class="checkbox">
		      <input type="checkbox"> Remember me
		    </label>
			<button type="submit" class="btn" ng-click="_login(user)">Login</button>
		</div>
		<div class="clearfix"/>
		<div>
		    <a href="" >Forget Password</a>
			<a class="register" href="/#/register" >Register</a>
		</div>
	  </fieldset>
	</form>
</div>


