<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="" class="brand">Admin Panel</a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
          <li><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
          <li class="active"><a href="#">Admin</a></li>
        </ul>
                    <ul class="nav pull-right">
                      <li class="divider-vertical"></li>

                      <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-user icon-white"></i> {{current_user}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#"><i class="icon-wrench icon-black"></i> Setting</a></li>
                          <li class="divider"></li>
                          <li><a href="#" ng-click="logout()"><i class="icon-off icon-black"></i> Logout</a></li>
                        </ul>
                      </li>
                      <li class="divider-vertical"></li>
                    </ul>
                  </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>

<div id="myModal" class="loading">

