<div ng-controller="ImagesController" class="border_content" ng-init="init()">
	<div id="messListImg" style="display:none;"></div>
	<div style="float: left; margin: 5px">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-filter"></i></span>
            <input id="inputIcon" type="text" ng-model="search" placeholder="Filter">
        </div>
    </div>
	<div style="float: right; margin: 5px">
		<button class="btn btn-primary" ng-click="open()">New</button>
		<button class="btn btn-danger" 	ng-click="deleteGallery()">Delete</button>
	</div>

	<table class="table table-striped">
		<thead>
			<th> <input type="checkbox" class="checkAll" ng-click="checkAll(check); check =! check;"> </th>
			<th><a class="sort" ng-click="predicate = '_data.title'; reverse=!reverse" href="">Title</a></th>
			<th><a class="sort" ng-click="predicate = '_data.path'; reverse=!reverse" href="">Image</a></th>
			<th><a class="sort" ng-click="predicate = '_data.status'; reverse=!reverse" href="">Status</a></th>
			<th><a class="sort" ng-click="predicate = '_data.created'; reverse=!reverse" href="">Date Created</a></th>
			<th><a class="sort" ng-click="predicate = '_data.modified'; reverse=!reverse" href="">Date Modified</a></th>
		</thead>
		<tbody>
			<tr ng-repeat="gallery in galleries | filter:filterByTitle | orderBy:predicate:reverse">
				<td> <input class="chk" type="checkbox" value={{gallery._data.uuid}} ng-click="check1()" name="chk"> </td>
				<td> <a href="#/admin/galleries/{{gallery._data.uuid}}" ng-click="galleryDetail(gallery._data)">{{gallery._data.title}} </a></td>
				<td> <img src="{{gallery._data.path}}" width="50px" height="50px"></td>
				<td> {{gallery._data.status | boolConverter }} </td>
				<td> {{gallery._data.created | date:'MM/dd/yyyy - h:mma'}} </td>
				<td> {{gallery._data.modified | date:'MM/dd/yyyy - h:mma'}} </td>
			</tr>
		</tbody>
	</table>
	<div>
        <hr>
        <ul class="pager">
          <li><a href="" ng-click="prevPage()" id="prevPage">Previous</a></li>
          <li><a href="" ng-click="nextPage()" id="nextPage">Next</a></li>
        </ul>
    </div>
	<div modal="shouldBeOpen" close="close()" options="opts">
		<form name="formAdd" novalidate>
	        <div class="modal-header">
	            <h3>Add new gallery</h3>
	        </div>
	        <div class="modal-body">
	        	<div id="messCreaImg" style="display:none;"></div>
				<label>Title:</label>
				<input name="title" type="text" ng-model="title" autofocus required>
				<span ng-show="formAdd.title.$dirty && formAdd.title.$invalid">
	                <span class="custom-error" ng-show="formAdd.title.$error.required">This field is required.</span>
	            </span>
				<label>URL:</label>
				<input name="url" type="text" ng-model="path" required class="image-path">
				<span ng-show="formAdd.url.$dirty && formAdd.url.$invalid">
	                <span class="custom-error" ng-show="formAdd.url.$error.required">This field is required.</span>
	            </span>
				<label>Store:</label> 
				<select ng-options="c.title for c in storeList" ng-model="selected" ng-change="changed()">
					 <option value="" >--Select--</option>
				</select>
				<label>Status:</label>
				<div class="check-status">
					<label class="radio">
						<input class="chk" ng-model="status" type="radio" value="0">
						Draft 
					</label>
					<label class="radio">
						<input class="chk" ng-model="status" type="radio" value="1">
						Published
					</label>
				</div>
				<label>Description:</label> <textarea type="text" ng-model="description" rows="3" cols="50"></textarea>
	        </div>
	        <hr>
	        <div class="groupbutton">
	        	<button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
	        	<!-- <button class="btn btn-warning cancel" ng-click="resetGallery()">Reset</button> -->
	        	<button class="btn btn-primary" ng-click="createGallery()" ng-disabled="(formAdd.title.$pristine || formAdd.title.$dirty && formAdd.title.$invalid) || (formAdd.url.$pristine || formAdd.url.$dirty && formAdd.url.$invalid)">Save</button> 
	        </div>
	    </form>
    </div>
</div>

