<html lang="en">
<head>
	<title>Gallery Details</title>	
</head>
<body>
	<div ng-include src="'partials/admin/menu-admin.html'" ng-controller="AdminController"></div> <!-- include menubar -->
	<div class="container">
	<div class="content">
		<form name="formUpdate" novalidate>
			<h2>Gallery Details</h2>
			<hr>
			<div id="messDetailImg" style="display:none;"></div>
			<div>
				<label>Title:</label> 
				<input name="title" type="text" ng-model="gallery.title" required autofocus>
				<span ng-show="formUpdate.title.$dirty && formUpdate.title.$invalid">
		            <span class="custom-error" ng-show="formUpdate.title.$error.required">This field is required.</span>
		        </span>
			</div>
			<hr>
			<div>
				<label>Path:</label> 
				<input name="path" style="margin-top: -80px;" class="image-path" type="text" ng-model="gallery.path" required>
				<span ng-show="formUpdate.path.$dirty && formUpdate.path.$invalid">
		            <span class="custom-error" ng-show="formUpdate.path.$error.required">This field is required.</span>
		        </span>
				<img src="{{gallery.path}}" width="100px" height="120px">	
			</div>
			<div>
				<label>Store:</label> 
				<select required name="select" ng-model="selected" ng-options="cate.title for cate in stores">
					<option value="">--Select--</option>
				</select>
			</div>
			<hr>
			<div>
				<label>Status: </label>
				<div>
					<label class="radio">
						<input class="chk" ng-model="gallery.status" type="radio" value="0">
						Draft 
					</label>
					<label class="radio">
						<input class="chk" ng-model="gallery.status" type="radio" value="1">
						Published
					</label>
				</div>
			</div>
			<hr>
			<div>
				<label>Date created:</label> 
				<span class="span-display">{{ gallery.created | date:'MM/dd/yyyy - h:mma'}} </span>
			</div>
			<hr>
			<div>
				<label>Date modified:</label> 
				<span class="span-display">{{ gallery.modified | date:'MM/dd/yyyy - h:mma'}}</span>
			</div>
			<hr>
			<div>
				<label>Description:</label> 
				<textarea style="margin-left:0;" type="text" ng-model="gallery.description" rows="3" cols="450"></textarea>
			</div>
			<hr>
			<div class="groupbutton">
				<button class="btn btn-warning cancel" ng-click="cancel()">Cancel</button>
				<!-- <button class="btn btn-warning cancel" ng-click="resetGallery()">Reset</button> -->
				<button class="btn btn-primary" ng-click="update(gallery.uuid)" ng-disabled="(formUpdate.title.$dirty && formUpdate.title.$invalid) || (formUpdate.path.$dirty && formUpdate.path.$invalid)">Save</button>
			</div>
		</form>
	</div>
</div>
</body>
</html>