<html lang="en">
<head>
	<title>Group detail</title>	
</head>
<body>
<div ng-include src="'partials/admin/menu-admin.html'" ng-controller="AdminController"></div>
<div class="border_content2" ng-init="init1();init2();init3()">
	<div id="alertMsg" style="display:none;"></div>
	<tabset>
	    <tab heading="Details"><!--  Detail Tab -->
			<div>
				<form name="myForm" novalidate ng-submit="update(group.uuid)">				
					<label>Group Path: </label>
					<input type="text" name="path" ng-model="group.path" required ng-pattern="pathRegex" autofocus/>
					<span ng-show="myForm.path.$dirty && myForm.path.$invalid">
                		<span class="custom-error" ng-show="myForm.path.$error.required">Path is required.</span>
                    	<span class="custom-error" ng-show="myForm.path.$error.pattern">Path contains word only!</span>
                	</span>
                	<label>Title: </label>
					<input type="text" name="title" ng-model="group.title" required ng-pattern="titleRegex"/>
					<span ng-show="myForm.title.$dirty && myForm.title.$invalid">
                		<span class="custom-error" ng-show="myForm.title.$error.required">Title is required.</span>
                    	<span class="custom-error" ng-show="myForm.title.$error.pattern">Title contains word only!</span>
                	</span>
					<div class="modal-footer">
					<button class="btn btn-warning cancel" ng-click="cancel()">Cancel</button>
					<button class="btn btn-primary" ng-click="update(group.uuid)" ng-disabled="myForm.title.$invalid || myForm.path.$invalid ||(myForm.title.$pristine&&myForm.path.$pristine)">Save</button>					
					</div>
				</form>
			</div>
	    </tab><!--  End Detail Tab -->
	    <tab heading="Members"><!--  Member Tab -->
	    	<div>
	    	<div style="float: right; margin: 5px">
	    		<button class="btn btn-primary" ng-click="openUser()">New</button>
	    		<button class="btn btn-danger" 	ng-click="removeUser()">Delete</button>
			</div>
			<table class="table">
				<thead>
					<th>
						<input type="checkbox" class="checkAllUser" ng-model="checkall" >

					</th>
					<th>User Name</th>
				</thead>
				<tr ng-repeat="u in users_in_group">
					<td>
	 					<input class="chkUsers" name="chk" type="checkbox" value="{{u._data.uuid}}" ng-checked="checkall">
					</td>
					<td>{{u._data.username}}</td>
				</tr>
			</table>
			</div>
	    </tab><!--  End Member Tab -->
	    <tab heading="Roles"><!--  Role Tab -->
	    	<div>
	    	<div style="float: right; margin: 5px">
	    		<button class="btn btn-primary" ng-click="openRole()">New</button>
	    		<button class="btn btn-danger" 	ng-click="removeRole()">Delete</button>
			</div>
			<table class="table">
				<thead>
					<th> <input type="checkbox" class="checkallRole" ng-model="checkallRole"> </th>
					<th>Role Name</th>
				</thead>
				<tr ng-repeat="r in role_of_group">
					<td>
						<input class="chkRoles" type="checkbox" value="{{r._data.uuid}}" ng-checked="checkallRole">
					</td>
					<td>{{r._data.name}}</td>
				</tr>
			</table>
			</div>
	    </tab><!--  End Role Tab -->
  	</tabset>
  	<!-- ADD USER TO GROUP POP-UP -->
  	<div modal="popupUser" close="closeUser()" options="opts">
        <div class="modal-header">
            <h3>Add a User to this Group</h3>
        </div>
        <div class="modal-body">
			<table class="table">
				<thead>
					<th> <input type="checkbox" ng-model="chkAllUser"> </th>
					<th>Username</th>
				</thead>
				<tr ng-repeat="u in users_add_group">
					<td>
						<input class="chkUser_add_group" type="checkbox" value="{{u}}" ng-checked="chkAllUser">
					</td>
					<td>{{u}}</td>
				</tr>
			</table>
        </div>
        <div class="modal-footer">
        	<button class="btn btn-warning cancel" ng-click="closeUser()">Cancel</button>
        	<button class="btn btn-primary" ng-click="addUser()">Save</button>            
        </div>
    </div>
    <!-- END ADD USER TO GROUP POP-UP -->

    <!-- ADD ROLE TO GROUP POP-UP -->
  	<div modal="popupRole" close="closeRole()" options="opts">
        <div class="modal-header">
            <h3>Add a Role to this Group</h3>
        </div>
        <div class="modal-body">
        	<table class="table">
				<thead>
					<th> <input type="checkbox" ng-model="chkAllRole"> </th>
					<th>Role</th>
				</thead>
				<tr ng-repeat="r in role_add_group">
					<td>
						<input class="chkRole_add_group" type="checkbox" value="{{r}}" ng-checked="chkAllRole">
					</td>
					<td>{{r}}</td>
				</tr>
			</table>
        </div>
        <div class="modal-footer">
        	<button class="btn btn-warning cancel" ng-click="closeRole()">Cancel</button>
        	<button class="btn btn-primary" ng-click="addRole()">Save</button>            
        </div>
    </div>
    <!-- END ADD ROLE TO GROUP POP-UP -->
</div>
</body>
</html>