<script type="text/javascript" src="lib/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="lib/ckeditor/adapters/jquery.js"></script>
<div ng-include src="'partials/admin/menu-admin.html'" ng-controller="AdminController"></div> <!-- include menubar -->
<div class="container">
<div class="content">
	<form name="formAdd" novalidate>
		<h2>Add new Page</h2>
		<hr>
		<div id="messPageAdd" style="display:none;"></div>	
		<div>
			<label> Title: </label>
			<input name="title" type="text" ng-model="page.title" required autofocus>
			<span ng-show="formAdd.title.$dirty && formAdd.title.$invalid">
	            <span class="custom-error" ng-show="formAdd.title.$error.required">This field is required.</span>
	        </span>
		</div>
		<hr>
		<div>
			<label>Status: </label>
			<div>
				<label class="radio">
					<input class="chk" ng-model="page.status" type="radio" value="0">
					Draft 
				</label>
				<label class="radio">
					<input class="chk" ng-model="page.status" type="radio" value="1">
					Published
				</label>
			</div>
		</div>
		<hr>
		<div>
			<label>Content: </label>
			<div style="margin-left:150px;">
				<textarea ng-model="page.description" class="ckeditor" id="editor" name="editor"></textarea>
			</div>
		</div>
		<hr>
		
		<div class="groupbutton">
			<!-- <button class="btn btn-warning cancel" ng-click="resetPage()">Reset</button> -->
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-click="save(page)" ng-disabled="(formAdd.title.$pristine || formAdd.title.$dirty && formAdd.title.$invalid)">Save</button>
		</div>
	</form>
</div>
</div>
