<script type="text/javascript" src="lib/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="lib/ckeditor/adapters/jquery.js"></script>
<div ng-include src="'partials/admin/menu-admin.html'" ng-controller="AdminController"></div> <!-- include menubar -->
<div class="container">
<div class="content">
	<form name="formUpdate" novalidate>
		<h2>Page Details</h2>
		<div id="messPageDetail" style="display:none;"></div>
		<div>
			<label>Name: </label>
			<input type="text" ng-model="page.name" readonly>
		</div>
		<hr>
		<div>
			<label> Title: </label>
			<input name="title" type="text" ng-model="page.title" required autofocus>
			<span ng-show="formUpdate.title.$dirty && formUpdate.title.$invalid">
	            <span class="custom-error" ng-show="formUpdate.title.$error.required">This field is required.</span>
	        </span>
		</div>
		<hr>
		<div>
			<label>Status: </label>
			<div>
				<label class="radio">
					<input class="chk" ng-model="page.status" type="radio" value="0">
					Draft 
				</label>
				<label class="radio">
					<input class="chk" ng-model="page.status" type="radio" value="1">
					Published
				</label>
			</div>
		</div>
		<hr>
		<div>
			<label>Content: </label>
			<div style="margin-left:150px;">
				<textarea ng-model="page.description" class="ckeditor" id="editor" name="editor"></textarea>
			</div>
		</div>
		<div>
			<label> Date created: </label>
			<span class="span-display">{{ page.created | date:'MM/dd/yyyy - h:mma' }}</span>
		</div>
		<hr>
		<div>
			<label> Date modified: </label>
			<span class="span-display">{{ page.modified | date:'MM/dd/yyyy - h:mma' }}</span>
		</div>
		<hr>
		
		<div class="groupbutton">
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			<!-- <button class="btn btn-warning" ng-click="resetPage()">Reset</button> -->
			<button class="btn btn-primary" ng-click="update(page.uuid)"  ng-disabled="(formUpdate.title.$dirty && formUpdate.title.$invalid)">Save</button>			
		</div>
	</form>
</div>
</div>
