<script type="text/javascript" src="lib/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="lib/ckeditor/adapters/jquery.js"></script>
<div ng-controller="PageController" class="border_content" ng-init="init()">
	<div id="messPageList" style="display:none;"></div>
	<div style="float: left; margin: 5px">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-filter"></i></span>
            <input id="inputIcon" type="text" ng-model="search" placeholder="Filter">
        </div>
    </div>
	<div style="float: right; margin: 5px">
		<button class="btn btn-primary" ng-click="open()">New</button>
		<button class="btn btn-danger" 	ng-click="deletePage()">Delete</button>
	</div>

	<table class="table table-striped">
		<thead>
			<th> <input type="checkbox" class="checkAll" ng-click="checkAll(check); check =! check;"> </th>
			<th><a class="sort" ng-click="predicate = '_data.title'; reverse=!reverse" href="">Title</a></th>
			<th><a class="sort" ng-click="predicate = '_data.status'; reverse=!reverse" href="">Status</a></th>
			<th><a class="sort" ng-click="predicate = '_data.created'; reverse=!reverse" href="">Date Created</a></th>
			<th><a class="sort" ng-click="predicate = '_data.modified'; reverse=!reverse" href="">Date Modified</a></th>
		</thead>
		<tbody>
			<tr ng-repeat="page in pages | filter:filterByTitle | orderBy:predicate:reverse">
				<td> <input ng-click="check1()" class="chk" name="chk" type="checkbox" value={{page._data.uuid}}> </td>
				<td> <a href="#/admin/pages/{{page._data.uuid}}" ng-click="pageDetail(page._data)">{{page._data.title}} </a> </td>
				<td> {{page._data.status | boolConverter}} </td>
				<td> {{page._data.created | date:'MM/dd/yyyy - h:mma' }} </td>
				<td> {{page._data.modified | date:'MM/dd/yyyy - h:mma' }} </td>
			</tr>
		</tbody>
	</table>
	 <div>
        <hr>
        <ul class="pager">
          <li><a href="" ng-click="prevPage()" id="prevPage">Previous</a></li>
          <li><a href="" ng-click="nextPage()" id="nextPage">Next</a></li>
        </ul>
    </div>
	
</div>

