<div class="border_content" ng-controller="BlogsController" ng-init="init()">
	<div id="alertMsg" style="display:none;"></div>
	<div style="float: left; margin: 5px">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-search"></i></span>
            <input id="inputIcon" type="text" ng-model="search" placeholder="Filter">
        </div>
    </div>
	<div style="float: right; margin: 5px">
		<button class="btn btn-primary" ng-click="create()">New</button>
		<button class="btn btn-danger" 	ng-click="delete()">Delete</button>
	</div>

	<table class="table table-striped">
		<thead>
		<th> <input type="checkbox" class="checkAll" ng-click="checkAll(check); check =! check;"> </th>
		<th><a class="sort" ng-click="predicate = '_data.title'; reverse=!reverse" href="">Title</a></th>
		<th><a class="sort" ng-click="predicate = '_data.status'; reverse=!reverse" href="">Status</a></th>
		<th><a class="sort" ng-click="predicate = '_data.author'; reverse=!reverse" href="">Author</a></th>
		<th><a class="sort" ng-click="predicate = '_data.created'; reverse=!reverse" href="">Date Created</a></th>
		<th><a class="sort" ng-click="predicate = '_data.modified'; reverse=!reverse" href="">Date Modified</a></th>
		</thead>
		<tr ng-repeat="content in contents | filter:filterByTitle:type | orderBy:predicate:reverse">
			<td> <input ng-click="check1()" class="chk" name="chk" type="checkbox" value="{{content._data.uuid}}" ng-checked="checkall"> </td>
			<td><a href="#/admin/blogs/{{content._data.uuid}}">{{content._data.title}}</a></td>
			<td> {{content._data.status | boolConverter}} </td>
			<td> {{content._data.author}} </td>
			<td> {{content._data.created | date:'MM/dd/yyyy - h:mma' }} </td>
			<td> {{content._data.modified | date:'MM/dd/yyyy - h:mma' }} </td>
		</tr>
	</table>
	<div>
        <hr>
        <ul class="pager">
          <li><a href="" ng-click="prevPage()" id="prevPage">Previous</a></li>
          <li><a href="" ng-click="nextPage()" id="nextPage">Next</a></li>
        </ul>
    </div>
</div>