<script type="text/javascript" src="lib/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="lib/ckeditor/adapters/jquery.js"></script>
<div ng-include src="'partials/admin/menu-admin.html'" ng-controller="AdminController"></div> <!-- include menubar -->
<div class="container">
<div class="content" ng-init="init()">
	<div id="alertMsg" style="display:none;"></div>
	<h2> Create Blog </h2>
	<form name="myForm" novalidate>
	<div>
		<label>Title: </label>
		<input name="title" type="text" ng-model="title" placeholder="Title" ng-pattern="word" required>
		<span class="custom-error" ng-show="myForm.title.$dirty && myForm.title.$error.required">Title is required.</span>
		<span class="custom-error" ng-show="myForm.title.$error.pattern">Word only</span>
	</div>
	<hr>
	<div>
		<label> Categories: </label>
		<!-- <select id="select" name="sel" required>
			<option value="">
			<option ng-repeat="cate in categories" value="{{cate.uuid}}">{{cate.name}}</option>
		</select> -->
		<select id="select" name="sel" ng-model="cate" ng-options="cate.uuid as cate.name for cate in categories" required>
			<option value="">--Select--</option>
			<!-- <option ng-repeat="cate in categories" value="{{cate.uuid}}">{{cate.name}}</option> -->
		</select>
		<span class="custom-error" ng-show="myForm.sel.$dirty && myForm.sel.$invalid">Select category.</span>
	</div>
	<hr>
	<div>
		<label class="status">Status: </label>
		<div>
			<p class="radio">
				<input class="chk" type="radio" name="optionsRadios" id="optionsRadios1" value="0" checked>
				Draft 
			</p>
			<p class="radio">
				<input class="chk" type="radio" name="optionsRadios" id="optionsRadios2" value="1">
				Published
			</p>
		</div>
	</div>
	<hr>
	<div>
		<label>Content: </label>
		<div style="margin-left:150px;">
		<textarea  ng-model="descriptions" class="ckeditor"  id="editor" name="editor" ></textarea>
		</div>
	</div>
	<div class="groupbutton">
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" ng-click="createBlogs()" ng-disabled="myForm.sel.$pristine || myForm.sel.$invalid || myForm.title.$pristine || myForm.title.$invalid">Save</button>
	</div>
	</form>
</div>
</div>
<!-- <div id="myModal" class="loading"> -->
