<script type="text/javascript" src="lib/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="lib/ckeditor/adapters/jquery.js"></script>
<div ng-include src="'partials/admin/menu-admin.html'" ng-controller="AdminController"></div> <!-- include menubar -->
<div class="container">
<div class="content">
	<div id="alertMsg" style="display:none;"></div>
	<h2> Edit Blog </h2>
	<form name="form" novalidate>
		<div>
			<label>Title: </label>
			<input name="title" type="text" ng-model="contents.title" placeholder="Title" ng-pattern="word" required>
			<span class="custom-error" ng-show="form.title.$dirty && form.title.$error.required">Title is required.</span>
			<span class="custom-error" ng-show="form.title.$error.pattern">Word only</span>
		</div>
		<hr>
		<div>
			<label> Categories: </label>
			<select required name="select" ng-model="selected" ng-options="cate.title for cate in categories"></select>
			<span ng-show="form.select.$invalid">
            	<span class="custom-error" ng-show="form.select.$error.required">Category is required.</span>
       		</span>
		</div>
		<hr>
		<div>
			<label class="status">Status: </label>
			<div>
				<p class="radio">
					<input class="chk chk0" type="radio" name="optionsRadios" id="optionsRadios1" value="0" checked>
					Draft 
				</p>
				<p class="radio">
					<input class="chk chk1" type="radio" name="optionsRadios" id="optionsRadios2" value="1">
					Published
				</p>
			</div>
		</div>
		<hr>
		<div>
			<label style="margin-top: -8px;"> Published from: </label>
			<div>
				<span>{{contents.created | date:'MM/dd/yyyy - h:mma'}} </span>
			</div>
		</div>
		<hr>
		<div>
			<label>Content: </label>
			<div style="margin-left:150px;">
			<textarea  ng-model="descriptions" class="ckeditor"  id="editor" name="editor" ></textarea>
			</div>
		</div> 
		<div class="groupbutton">
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-click="update(contents.uuid)" ng-disabled="(form.title.$pristine && 
			form.select.$pristine)">Save</button>
		</div>
	</form>
</div>
</div><!-- 
<div id="myModal" class="loading"> -->