
<html lang="en">
<head>
	<title>Store Details</title>
</head>
<body>
	<div ng-include src="'partials/admin/menu-admin.html'" ng-controller="AdminController"></div> <!-- include menubar -->
	<div class="container">
		<div class="content">				
			<form name="formUpdate" novalidate>
				<h2> Store Detail</h2>
				<hr>	
				<div id="messStoreDetail" style="display:none;"></div>
				<div>
					<label>Title:</label> 
					<input name="title" type="text" ng-model="store.title" required autofocus>
					<span ng-show="formUpdate.title.$dirty && formUpdate.title.$invalid">
			            <span class="custom-error" ng-show="formUpdate.title.$error.required">This field is required.</span>
			        </span>
				</div>

				<div>
					<label>Location:</label> <input type="text" ng-model="store.locationname" required>
				</div>
				<hr>
				<div>
					<label>Latitude:</label> <input type="text" ng-model="store.latitude">
				</div>
				<div>
					<label>Longtitude:</label> <input type="text" ng-model="store.longtitude">
				</div>
				<hr>
				<div>
				<label>Date created:</label> 
				<span class="span-display">{{ store.created | date:'MM/dd/yyyy - h:mma'}} </span>
			</div>
			<hr>
			<div>
				<label>Date modified:</label> 
				<span class="span-display">{{ store.modified | date:'MM/dd/yyyy - h:mma'}}</span>
			</div>	
				<hr>
				<div class="groupbutton">
					<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
					<!-- <button class="btn btn-warning" ng-click="resetStore()">Reset</button> -->
					<button class="btn btn-primary" ng-click="update(store.uuid)"  ng-disabled="(formUpdate.title.$dirty && formUpdate.title.$invalid)">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>