<div ng-controller="StoresController" class="border_content" ng-init="init()">
	<div id="messStoreList" style="display:none;"></div>
	<div style="float: left; margin: 5px">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-filter"></i></span>
            <input id="inputIcon" type="text" ng-model="search" placeholder="Filter">
        </div>
    </div>
	<div style="float: right; margin: 5px">
		<button class="btn btn-primary" ng-click="open()">New </button>
		<button class="btn btn-danger" 	ng-click="delete()">Delete</button>
	</div>
	<div id="messStoreList" style="display:none;"></div>
	<table class="table table-striped">
		<thead>
		<th> <input type="checkbox" class="checkAll" ng-click="checkAll(check); check =! check;"> </th>
		<th><a class="sort" ng-click="predicate = '_data.title'; reverse=!reverse" href="">Title</a></th>
		<th><a class="sort" ng-click="predicate = '_data.locationname'; reverse=!reverse" href="">Location</a></th>
		<th><a class="sort" ng-click="predicate = '_data.created'; reverse=!reverse" href="">Date Created</a></th>
		<th><a class="sort" ng-click="predicate = '_data.modified'; reverse=!reverse" href="">Date Modified</a></th>
		</thead>
		<tbody>
		<tr ng-repeat="store in stores | filter:filterByTitle | orderBy:predicate:reverse">
			<td> <input ng-click="check1()" class="chk" name="chk" type="checkbox" value={{store._data.uuid}}> </td>
			<td><a href="#/admin/stores/{{store._data.uuid}}" ng-click="storeDetail(store._data)"> {{store._data.title}}</a>  </td>
			<td> {{store._data.locationname}} </td>
			<td> {{store._data.created | date:'MM/dd/yyyy - h:mma'}} </td>
			<td> {{store._data.modified | date:'MM/dd/yyyy - h:mma'}} </td>
		</tr>
		</tbody>
	</table>
	<div>
        <hr>
        <ul class="pager">
          <li><a href="" ng-click="prevPage()" id="prevPage">Previous</a></li>
          <li><a href="" ng-click="nextPage()" id="nextPage">Next</a></li>
        </ul>
    </div>
	<div modal="shouldBeOpen" close="close()" options="opts">
		<form name="formAdd" novalidate>
	        <div class="modal-header">
	            <h3>Add new store</h3>
	        </div>
	        <div id="messStoreAdd" style="display:none;"></div>
	        <div class="modal-body">
				<label>Title:</label>
				<input name="title" type="text" ng-model="title" autofocus required>
				<span ng-show="formAdd.title.$dirty && formAdd.title.$invalid">
	            <span class="custom-error" ng-show="formAdd.title.$error.required">This field is required.</span>
	        </span>
				<label>Location:</label> <input type="text" ng-model="locationname">
				<label>Latitude:</label> <input type="text" ng-model="latitude" >
				<label>Longtitude:</label> <input type="text" ng-model="longtitude" >
	        </div>
	        <hr>
	        <div class="groupbutton">
	        	<button class="btn btn-warning" ng-click="close()">Cancel</button>
	        	<!-- <button class="btn btn-warning cancel" ng-click="resetStore()">Reset</button> -->
	        	<button class="btn btn-primary" ng-click="create()" ng-disabled="(formAdd.title.$pristine || formAdd.title.$dirty && formAdd.title.$invalid)">Save</button>
	        </div>
	    </form>
    </div>
</div>

