.login{
	border: 1px solid #CCD0BE;
	width: 24%;
	padding: 15px;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;	
	background-color:#FFF;
	border-radius:5px;// only for chrome

	.register{
		float:right;
	}
	legend {
		margin-bottom: 10px;
	}
	form {
		margin: 0 0 8px;
	}
	radio, .checkbox {
		float: left;
	}
	.btn {
		float:right;
	}
}
