
<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Menu</title>	
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>
<div ng-include src="'partials/admin/menu-admin.html'" ng-controller="AdminController"></div> <!-- include menubar -->
	<div class="container">		
			<div>
				<h2>Add new Menu</h2>
			</div>
			<hr>
		<div class="row">
			<div class="span4">
				<div id="add-custom-links" class="postbox ">
					<h3 class="hndle"><span>Custom Links</span></h3>
					<div class="inside">
						<div class="customlinkdiv" id="customlinkdiv">	

							<p id="menu-item-url-wrap">
								<label class="howto" for="custom-menu-item-url">
									<span>URL</span>
									<input type="text" class="code menu-item-textbox"  ng-model="urlCustom" required placeholder="#/your link...">
								</label>
							</p>

							<p id="menu-item-name-wrap">
								<label class="howto" for="custom-menu-item-name">
									<span>Title</span>
									<input  type="text" class="regular-text menu-item-textbox input-with-default-title" ng-model="titleCustom" required ng-maxlength="20">
								</label>
							</p>

							<p class="button-controls">
								<span class="add-to-menu">							
									<input type="submit" class="button-secondary submit-add-to-menu" value="Add to Menu" ng-click="addLinkToMenu()">
								</span>
							</p>

						</div><!-- /.customlinkdiv -->
					</div>
				</div>

				<div id="add-page" class="postbox ">
					<h3 class="hndle"><span>Pages</span></h3>
					<div class="inside">
						<div id="posttype-page" class="posttypediv">
							<div id="page-all" class="tabs-panel tabs-panel-view-all">
								<ul id="pagechecklist" class="list:page categorychecklist form-no-clear" ng-repeat="page in pages">
									<li>
										<label class="menu-item-title">
											<input type="checkbox" class="menu-item-checkbox add-to-top" ng-model="page._data.ischecked"> {{page._data.title}}</label>
									</li>	
								</ul>
							</div><!-- /.tabs-panel -->

							<p class="button-controls">
								<span class="list-controls">
									<label><input type="checkbox" ng-model="checkPage" ng-click="selectAllPages(checkPage)"/>Select All</label>
								</span>

								<span class="add-to-menu">								
									<input type="submit" class="button-secondary submit-add-to-menu" value="Add to Menu" ng-click="addPageToMenu(pages)">
								</span>
							</p>

						</div><!-- /.posttypediv -->
					</div>
				</div>  <!-- end div add page to menu -->

				<div id="add-category" class="postbox ">
					<h3 class="hndle"><span>Categories</span></h3>
					<div class="inside">
						<div id="posttype-page" class="posttypediv">
							<div id="page-all" class="tabs-panel tabs-panel-view-all">
								<ul id="pagechecklist" class="list:page categorychecklist form-no-clear" ng-repeat="category in categories">
									<li>
										<label class="menu-item-title">
											<input type="checkbox" class="menu-item-checkbox add-to-top" ng-model="category._data.ischecked"> {{category._data.title}}</label>
									</li>					
								</ul>
							</div><!-- /.tabs-panel -->

							<p class="button-controls">
								<span class="list-controls">
									<label><input type="checkbox" ng-model="checkCate" ng-click="selectAllCategories(checkCate)"/>Select All</label>
									
									<!-- <a href="" class="select-all" ng-click="selectAllCategories()">Select All</a> -->
								</span>

								<span class="add-to-menu">								
									<input type="submit" class="button-secondary submit-add-to-menu" value="Add to Menu" ng-click="addCategoryToMenu(categories)">
								</span>
							</p>

						</div><!-- /.posttypediv -->
					</div>
				</div>  <!-- end div add page to menu -->
			</div> <!-- end span 4 -->

			<div class="span8">
				<div id="messagebox" style="display:none;"></div>
				<div id="loading" class="v1alert-message warning inline" style="left: 574.5px; display: none;"><p>Working...</p> </div>
				<div class="mainbody">
					<ul class="menu ui-sortable" id="menu-to-edit" >
					  	<li ng-repeat="menu in menus" class="accordion" id="accordion2">
			                <div class="accordion-group">
			                  <div class="accordion-heading">
			                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#{{menu._data.uuid}}">
			                      {{menu._data.name}}
			                      <!-- <i class="icon-chevron-right"></i> -->
			                    </a>
			                  </div>
			                  <div id="{{menu._data.uuid}}" class="accordion-body collapse" style="height: 0px;">
			                    <div class="accordion-inner">
			                      <div class="in_menu">
			                      	<div>
									    <label >URL</label>
									    <input type="text" ng-model="menu._data.path">
								    </div>
								    <div>
								    	<label >Title</label>
									    <input type="text" ng-model="menu._data.title">
								    </div>
								    <div>
								    	<label >Order</label>
									    <input type="number" ng-model="menu._data.order">
								    </div>
								    <div>
									    <label >Parrent</label>
									    <input type="number" ng-model="menu._data.parrent">
									</div>
									<div class="btn-action-menu">
										<button class="btn btn-danger" ng-click="deleteMenu(menu._data)">Delete</button>
									    <button class="btn btn btn-primary" ng-click="updateMenu(menu._data)">Save</button>
									    
									</div>
									
								  </div>
			                    </div>
			                  </div>
			                </div>
              			</li>
					</ul>
		        </div>
			</div><!-- end span 8 -->

		</div>
	<div>
</body>
</html>