<html lang="en">
<head>
	<title>Menu details</title>	
</head>
<body>
	<div ng-include src="'partials/admin/menu-admin.html'" ng-controller="AdminController"></div> <!-- include menubar -->
<div class="container">
	<div class="content">
		<h2>Menu Details</h2>
		<hr>
		<div id="messMenuDetail" style="display:none;"> </div>
		<form name="formUpdate" novalidate>	
			<div><label>Title:</label> <input type="text" ng-model="menu.title" required autofocus>
				<span ng-show="formUpdate.title.$dirty && formUpdate.title.$invalid">
		            <span class="custom-error" ng-show="formUpdate.title.$error.required">This field is required.</span>
		        </span>
		    </div>			
			<div><label>Path:</label> <input type="text" ng-model="menu.path" required></div>			
			<hr>
			<div><label>Order:</label> <input type="number"  ng-model="menu.order"></input></div>
			<div><label>Parrent:</label> <input  type="number" ng-model="menu.parrent"></input></div>
			<hr>
			<div>
				<label>Date created:</label> 
				<span  class="span-display">{{ menu.created | date:'MM/dd/yyyy - h:mma'}}</span>
			</div>
			<hr>
			<div>
				<label>Date modified:</label> 
				<span  class="span-display">{{ menu.modified | date:'MM/dd/yyyy - h:mma'}}</span>
			</div>
			<hr>
			<div class="groupbutton">
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
				<!-- <button class="btn btn-warning" ng-click="resetMenu()">Reset</button> -->
				<button class="btn btn-primary" ng-click="update(menu.uuid)" ng-disabled="(formUpdate.title.$dirty && formUpdate.title.$invalid)">Save</button>
				
	        </div>
	    </form>
	</div>
</div>
</body>
</html>