<div ng-controller="MenusController" class="border_content">
	<div id="messMenuList" style="display:none;"></div>
	 <div style="float: left; margin: 5px">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-filter"></i></span>
            <input id="inputIcon" type="text" ng-model="search" placeholder="Filter">
        </div>
    </div>
	<div style="float: right; margin: 5px">
		
		<button class="btn btn-primary" ng-click="open()">New </button>
		<button class="btn btn-danger" 	ng-click="deleteMenu()">Delete</button>
	</div>

	<table class="table table-striped">
		<thead>
		<th> <input type="checkbox" class="checkAll" ng-click="checkAll(check); check =! check;"> </th>
		<th><a class="sort" ng-click="predicate = '_data.title'; reverse=!reverse" href="">Title</a></th>
		<th><a class="sort" ng-click="predicate = '_data.path'; reverse=!reverse" href="">Path</a></th>
		<th><a class="sort" ng-click="predicate = '_data.order'; reverse=!reverse" href="">Order</a></th>
		<th><a class="sort" ng-click="predicate = '_data.created'; reverse=!reverse" href="">Date Created</a></th>
		<th><a class="sort" ng-click="predicate = '_data.modified'; reverse=!reverse" href="">Date Modified</a></th>
		</thead>
		<tbody>
		<tr ng-repeat="menu in menus | filter:filterByTitle | orderBy:predicate:reverse">
			<td> <input class="chk" type="checkbox" value={{menu._data.uuid}} ng-click="check1()" name="chk"> </td>
			<td> <a href="#/admin/menus/{{menu._data.uuid}}" ng-click="menuDetail(menu._data)">{{menu._data.title }}</a> </td>
			<td> {{menu._data.path}} </td>
			<td> {{menu._data.order}} </td>
			<td> {{menu._data.created | date:'MM/dd/yyyy - h:mma'}} </td>
			<td> {{menu._data.modified | date:'MM/dd/yyyy - h:mma'}} </td>
		</tr>
		</tbody>
	</table>
	<div>
        <hr>
        <ul class="pager">
          <li><a href="" ng-click="prevPage()" id="prevPage">Previous</a></li>
          <li><a href="" ng-click="nextPage()" id="nextPage">Next</a></li>
        </ul>
    </div>
	
</div>

